// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h3.title {
    text-align: center;
    color: #e04e4e;
}

label {
    text-align: right;
}

.form_with_errors {
    word-wrap: normal;
    flex: 0 0 25%;
    max-width: 25%;
}